<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
	<h1>Are you sure you want to delete the following course?</h1>
	<p>Name: {{courses.name}}</p>
	<p>Description: {{courses.desc}}</p>
	<a href="/courses"><button class="btn btn-primary">No</button></a>
	<form action='/courses/{{ courses.id }}/delete' method='post'>
		{% csrf_token %}
        <div class="form-group"><input type='submit' value='Yes! I want to delete this' class="btn btn-danger"></div>
   	</form>
</div>
</body>
</html>